<button style="cursor: pointer;"
        hx-headers='{"X-CSRFToken":"{{ csrf_token() }}"}'
        hx-delete="{{ url_for('products_app.delete', product_id=product.id) }}"
        hx-target="closest .product_item"
        hx-swap="outerHTML swap:2s"
        hx-indicator="#product-{{ product.id }}"
        hx-confirm="Are you sure to delete this product?"

>
    <img
            src="{{ url_for('static', filename='img/trash-can-10417.svg') }}"
            alt="X"
            width="14px"
            height="14px"
    >
</button>
{% include 'components/loading-animation.html' %}
